:root {
    --alien-brand-color: #2979FF;
    --alien-brand-color-hover: #0A66FF;

    --alien-text-primary-color: #FFFFFF;
    --alien-text-secondary-color: #8D8D8D;

    --alien-button-border-color: rgba(255, 255, 255, 0.16);

    --alien-modal-background: #1A1A1A;
    --alien-modal-foreground: rgba(141, 141, 141, 0.16);
    --alien-modal-button-background: rgba(41, 121, 255, 0.16);
    --alien-modal-button-text: #2979FF;
}

@font-face {
    font-family: 'AlienBooton';
    src: url('./fonts/Booton-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlienBooton';
    src: url('./fonts/Booton-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
