.button {
    color: var(--alien-text-primary-color);
    font-family: 'AlienBooton', sans-serif;
    font-weight: 500;box-sizing: border-box;

    padding: 16px 20px;
    background-color: var(--alien-brand-color);
    border: 1px solid var(--alien-button-border-color);
    border-radius: 24px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 404px;
    width: 100%;
    appearance: none;
}

.button:hover {
    background-color: var(--alien-brand-color-hover);
}

.button-short {
    max-width: 64px;
}

.buttonIcon, .buttonSpace {
    width: 18px;
    height: 21px;
}
